.header{
 background-color: aqua;
 display: flex;   
justify-content: space-between;
}

.desc{
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

h1{
    color :crimson;
}

p,h2{
    text-align: center;
    color: rgb(255, 255, 255);
}

body{
    background-color:rgb(220, 20, 60);
}